*{
    margin: 0px;
}

a{
    padding: 5px;
    border-radius: 5px;
}

article h2 {
    text-align: center;
}

article{
    background: linear-gradient(rgba(255, 47, 0, 0.145), rgba(0, 51, 0, 0.234), rgba(0, 0, 255, 0.145));
    width: 100%;
    
    height: 700px;
    padding-top: 150px;
}

body{
    overflow: hidden;
}

header{
    background-image: url(../img/20160601174726-negocios-web.jpeg);
   /* background-repeat: no-repeat;*/
    height: 150px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: -2px;
    width: 100%;
    /*opacity: 0;*/
}

h1{
    background-color: rgba(255, 255,255,0.671);
    height: 40px;
    padding: 20px;
}

nav{
    position: fixed;
    top: 15px;
}

nav ol li{
    background-color: rgb(16, 130, 230);
    margin: 5px;
    display: inline;
    padding: 25 px;
    opacity: 0.5;
}

nav ol li:hover{
    margin: 5px;
    display: inline;
    opacity: 1;
    /*completar desde el video*/
}

nav ol li a{
        text-decoration: none;
        color: black;
}




footer{
    background-color: gray;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    color: white;
}


li{
    border-radius: 5px;
}
